/*   
  SmartWizard 2.0 plugin 
  jQuery Wizard control Plugin
  by Dipu
  
  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/
.swMain {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  border: 0px solid #CCC;
  overflow:visible;
  float:left;
  width:735px;
}
.swMain .stepContainer {
  display:block;
  position: relative;
  margin: 0;
  padding:0;    
  border: 0px solid #CCC;    
  overflow:hidden;
  clear:both;
  /*height:400px;*/
  height:600px;
}

.swMain .stepContainer div.content {
  display:block;
  position: absolute;  
  float:left;
  margin: 0;
  padding:25px 5px 5px 5px;    
  border: 1px solid #CCC;  
  font-size: 12px;
  font-family: "ו";   
 /* height:400px;*/
  text-align:left;
  overflow:visible;    
  z-index:88; 
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  width:723px;
  /*width:100%;*/
  clear:both;
}

.swMain div.actionBar {
  display:block;
  position: relative; 
  clear:both;
  margin:             3px 0 0 0;   
  border:             1px solid #CCC;
  padding:            0;    
  color:              #5A5655;   
  background-color:   #F8F8F8;
  height:40px;
  text-align:left;
  overflow:auto;    
  z-index:88; 

  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  left:0;
}

.swMain .stepContainer .StepTitle {
  display:block;
  position: relative;
  margin:0;   
  border:1px solid #E0E0E0;
  padding:5px;   
  font: bold 16px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;   
  background-color:#E0E0E0;
  clear:both;
  text-align:left; 
  z-index:88;
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;    
}

/* Anchor Element Style */
.swMain{
	background:url(../images/lc_bg.gif) repeat-x;
	margin:8px 0px 0px 8px;
	height:32px;
	line-height:32px;
}

.swMain ul.anchor, .swMain p { padding:0; margin:0;}

.swMain li{
	float:left; 
	display:inline;
}

.swMain li p{
	padding-left:15px; 
}

.swMain li span{
	/*display:block; */
	padding-right:12px;
}

.swMain ul.anchor LI.selected p{
	color:#FFF; 
	margin-left:10px;
	background:url(../images/lc_now.gif) no-repeat right 0;
}

.swMain ul.anchor LI.selected{ 
	background:url(../images/lc_now.gif) no-repeat left 0;
}

.swMain ul.anchor li a.selected{
   color:#FFFFFF;
   font-size:12px;
   text-decoration:none;
}

.swMain ul.anchor li a.done { 
	color:#000000; 
	font-size:12px; 
	text-decoration:none;
}

.swMain ul.anchor li a.disabled {
  color:#000000; 
	font-size:12px; 
	text-decoration:none;
}



.swMain .buttonNext {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color: #2873a8;  /*#5A5655;*/
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonDisabled {
  color:#F8F8F8  !important;
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC  !important;
  cursor:text;    
}
.swMain .buttonPrevious {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color: #2873a8;  /* #5A5655;*/
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}
.swMain .buttonFinish {
  display:block;
  float:right;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #2873a8;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px; 
  -webkit-border-radius: 5px;    
}

.swMain .txTip{
  display:block;
  float:left;
  margin:5px 10px 0 10px;
  text-decoration: none;
  text-align: center;
  width:100px;
  color:red; 
}

/* Form Styles */

.txtBox {
  border:1px solid #CCCCCC;
  color:#5A5655;
  font:13px Verdana,Arial,Helvetica,sans-serif;
  padding:2px;
  width:430px;
}
.txtBox:focus {
  border:1px solid #EA8511;
}

.swMain .loader {
  position:relative;  
  display:none;
  float:left;  
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700; 
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;       
  background: #FFF url(../images/loader.gif) no-repeat 5px;  
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:998;
}
.swMain .msgBox {
  position:relative;  
  display:none;
  float:left;
  margin: 4px 0 0 5px;
  padding:5px;
  border: 1px solid #FFD700; 
  background-color: #FFFFDD;  
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;         
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:999;
  min-width:200px;  
}
.swMain .msgBox .content {
  font: normal 12px Verdana,Arial,Helvetica,sans-serif;
  padding: 0px;
  float:left;
}
.swMain .msgBox .close {
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.swMain .msgBox .close:hover{
  color: #EA8511;
  border: 1px solid #EA8511;  
}